awscli
BeautifulSoup
boto
click
cookiecutter
ec2-ssh
flake8
flake8-docstrings
flake8-polyfill
future
honcho
html5lib
ipython
jupyter
libsass
lxml
mock
notebook
Pillow
pip
progressbar
psutil
pycodestyle
pycrypto
pyflakes
pylint
pyreadline
pytz
requests
requests-aws4auth
requests-futures
s3cmd
setuptools
six
virtualenv
virtualenv-clone
virtualenvwrapper
wheel
